<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <! - - Google image - - >
    <img src="https://picsum.photos/300/50" alt=" " />

    <! - - search bar - - >
    <div>
      <label for="">Search</label>
      <input type="text" />
      <button>Click me plz</button>
    </div>
  </body>
</html>
